<!-- Loop over each object in the cities array -->
<h2>
  <form class="example" id="search">
    <input type="text" placeholder="Search.." name="search" id="cityName">
    <button id="searchBtn" type="button"><i class="fa fa-search"></i></button>
  </form>
</h2>
{{#each cities as |city| }}
<div class="row mb-4 city">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/city/id/{{city.id}}">{{city.city}}</a>
    </h2>
    <p>{{{get_reviews}}}</p>
  </div>
</div>
{{/each}}
